<header role="banner">
    <h1><a href="{{ site.baseurl }}/#home">KoBoToolbox</a></h1>
    <nav role="navigation">
        <ul id="nav" class="js-one-page-nav">
            <li class="hide-mobile"><a href="{{ site.baseurl }}/#home">Home</a></li>
            <li class="hide-mobile"><a href="{{ site.baseurl }}/#features">Features</a></li>
            <li><a href="{{ site.baseurl }}/#sign-up">Sign Up</a></li>
            <li class="hide-mobile"><a href="{{ site.baseurl }}/#about">About</a></li>
            {% if site.isBlogEnabled %}
                {% if page.isBlog %}
                    <li class="hide-mobile current"><a href="{{ site.baseurl }}/blog">Blog</a></li>
                {% else %}
                    <li class="hide-mobile"><a href="{{ site.baseurl }}/#blog">Blog</a></li>
                {% endif %}
            {% endif %}
            <li class="hide-mobile"><a href="{{ site.baseurl }}/#help">Help</a></li>
            <li class="hide-mobile"><a href="{{ site.baseurl }}/join-our-team/index.html">Jobs</a></li>
        </ul>
    </nav>
</header>
